
<h2>Tag Cloud</h2>
<p id="tagcloud">
</p>

<script>
  Do('/issets/js/tag.js', function() {
    var tags = sTags();
    addTagNav(tags);
    //$('#sidebar').show();

    if(!location.hash) {
      $('.post-snippet').show();
    } else {
      showPost(location.hash.substr(1));
    }

    $('.tag').bind('click', function(e) {
      if(location.pathname === '/blog/all.html') {
        e.preventDefault();
        e.stopPropagation();
        location.href = '/blog/all.html#'+$.trim($(this).text());
        location.reload();
      }
    });
  });
</script>

