<span id="all-tags-span" class="hide">
  {% for post in site.categories.blog %}{{ post.tags | join:' ' }} {% endfor %}
</span>

<h2>Tag Cloud</h2>
<p id="tagcloud">
</p>

<script>
  Do('/issets/js/tag.js', function() {
    var tags = $('#all-tags-span').text();
    addTagNav(tags);

    if(!location.hash) {
      $('.post-snippet').show();
    } else {
      showPost(location.hash.substr(1));
    }

    $('.tag').bind('click', function(e) {
      if(location.pathname === '/blog/all.html') {
        e.preventDefault();
        e.stopPropagation();
        location.href = '/blog/all.html#'+$.trim($(this).text());
        location.reload();
      }
    });
  });
</script>

