<hr>
      <ol>
        <li><a href="/smacss/fourtypes.html">CSS 规则的四种类型</a>
        <ol type="i">
          <li><a href="/smacss/type-base.html">基本</a></li>
          <li><a href="/smacss/type-layout.html">布局</a></li>
          <li><a href="/smacss/type-module.html">模块</a></li>
          <li><a href="/smacss/type-state.html">状态</a></li>
        </ol>
        </li>
        <li><a href="/smacss/layering.html">在主题和排版上分层</a></li>
        <li><a href="/smacss/applicability.html">适应性的深度</a></li>
        <li><a href="/smacss/selectors.html">选择器性能</a></li>
        <li><a href="/smacss/state.html">状态表示</a></li>
        <li><a href="/smacss/formatting.html">附录：格式化代码</a></li>
        <li><a href="/smacss/resources.html">资源</a></li>
        <li><a href="/smacss/changelog.html">变更记录</a></li>
      </ol>

      <p>在<a href="/smacss/all.html">单页显示</a>。 全页视图提供方便的线下阅读。推荐使用 <a href="http://www.instapaper.com">Instapaper</a> 。评论只在单独页面可用。 </p>
