
#sidebar {
    float: left;
    padding: 0 1em;
}

#sidebar h2 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

#ft {
    padding: 0.5em;
    clear: both;
}

.hide-offscreen {
    position: absolute;
    left: -1000px;
}


html,body {
    background: #A2A749;
}

a, a:visited, a:active {
    color: #660;
}
    
blockquote {
    background-image: url(/_images/quote.gif);
    background-repeat: no-repeat;
}    
