


#doc {
  background: #ffffff;
  border: 1px solid #5B5F19;
  border-top: 0;
  border-bottom: 0;
  -moz-box-shadow: 0 0 1em black;
  -webkit-box-shadow: 0 0 1em black;
  box-shadow: 0 0 1em black;
}

#hd {
  border-bottom: 1px solid #5B5F19;
}

#hd h1 {
  font-size: 230%;
  font-family: "Arial Narrow";
  font-style: italic;
  font-weight: normal !important;
  margin: 0;
}

#hd h1 acronym {
  font-weight: bold;
  border: 0;
}

#hd #subhd {
  padding: 1em 1.5em;
}

#hd ul {
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
  border-top: 1px solid #5B5F19;
  background: #DCE09C;
  font-size: 130%;
  font-weight: bold;
}

#hd ul li {
  display:inline;
}

#hd ul li a{
  display:inline-block;
  margin-left: 2em;
}

#hd ul li.first a {
  margin-left: 0;
}    

#hd ul a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

#hd ul a:hover {
  text-decoration: underline;
}    



#sidebar h2 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

#ft {
  padding: 0.5em;
  clear: both;
}

.hide-offscreen {
  position: absolute;
  left: -1000px;
}


html,body {
  background: #A2A749;
}

a, a:visited, a:active {
  color: #660;
}

blockquote {
  background-image: url(/files/images/quote.gif);
  background-repeat: no-repeat;
}    
acronym {
  border: 0;
}
