---
author: Wenbing
layout: default
top: Blog Top
feed: atom.xml
---

<div id="hd">
  {% include nav.html %}
</div>

<div id="bd" class="clearfix">
  <div id="content" class="span-16 prepend-1 colborder">
    <div class="post-head">
      <h1>{{ page.title }}</h1>
      <div class="clearfix">
        <p class="post-date byline left">
          Posted at {{ page.date | date_to_long_string }} by {{ page.author }}
        </p>
        <p class="post-tag right">
          Tag: {{ page.tags | join:', ' }}
        </p>
      </div>
    </div>
    <div class="post-content">
    {{ content }}
    </div>
  </div>

  <div id="sidebar" class="span-6 last">
    {% include sidebar.html %}
  </div>
  <!-- end #bd div -->
</div>
