---
layout: default
top: Blog Top
feed: atom.xml
---

<div id="hd">
  {% include nav.html %}
</div>

<div id="bd" class="clearfix">
  <div id="content" class="span-16 prepend-1 colborder">
    {{ content }}
  </div>

  <div id="sidebar" class="span-6 last">
    {% include sidebar.html %}
  </div>
  <!-- end #bd div -->
</div>

<!--
<div id="disqus_thread"></div>

<script type="text/javascript">
	//var disqus_iframe_css = "/files/css/screen.css";
	var disqus_title = "{{ page.title }}";
	var disqus_message = "{{ page.excerpt }}";
</script>
<script type="text/javascript" src="http://quliaojie.disqus.com/embed.js"></script>
<noscript>
		<a href="http://disqus.com/?ref_noscript=quliaojie">查看评论</a>
</noscript>
-->
