---
layout: NCZOnline
top: home
---
<div id="hd">
  {% include nav-labs.html %}
</div>

<div id="bd">
  <div id="content" class="span-18">
    {{ content }}
  </div>

  <div id="sidebar" class="span-6 last">
    <h1 class="hide-offscreen">相关 信息</h1>
    <h2>More of Me</h2>
    <ul>
      <li>Twitter: <a href="http://www.twitter.com/wenbing">@wenbing</a></li>
      <li>Douban: <a href="http://www.douban.com/yongyezhimian">Douban</a></li>
      <li>Github: <a href="http://www.github.com/wenbingzheng">Projects</a></li>
    </ul>
    <h2>读，看，听</h2>
    <ul>
      <li>Douban API</li>
    </ul>
    <h2>链接</h2>
    <ul>
      <li><a href="#">Link</a></li>
    </ul>
    <h2>存档</h2>
    <ul>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
  <!-- end #bd div -->
</div>
